:root {
    --distack: #846aff;
    --txt: #fff;
    --border: #eeeeff;
    --bcg: #f8f8ff;

    --text-rob: 'Roboto', sans-serif;
}

body {
    font-family: var(--text-rob);
}

header {
    width: 100%;
    min-height: 550px;
    background-color: var(--bcg);
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.header-text {
    width: 581px;
    padding: 89.5px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header h1 {
    font-size: 40px;
}

.header-text h1 span{
    color: var(--distack);
}

.header-text > p{
    font-size: 26px;
    padding: 0;
}

.header-text > button{
    font-weight: 700;
    font-size: 16px;
    width: 214px;
    line-height: 21px;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: var(--txt);
    background-color: var(--distack);
    cursor: pointer;
}

.img-header {
    width: 100%;
    max-width: 400px;
}

main {
    margin: 0 auto;
}

.container {
    margin: auto;
}

.container > h1{
    margin-top: 72px;
}

.container > .grid {
    width: 100%;
    margin-top: 140px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 384px 384px 384px;
    grid-template-rows: 357px 357px;
    gap: 32px;
}

.grid > .post {
    border-radius: 6px;
    border: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
}

.grid .post > h1 {
    font-size: 18px;
}

.post > h1, p {
    padding-inline: 24px;
}

.post img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.form {
    width: 100%;
    background-color: var(--bcg);
    display: flex;
    justify-content: center;
    padding-block: 80px;
}

.container-form {
    width: 548px;
    text-align: center;
}

.container-form h1{
    margin-bottom: 32px;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-form input, textarea, button {
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
}

.container-form textarea {
    height: 148px;
}

.container-form button {
    font-weight: 700;
    color: var(--txt);
    background-color: var(--distack);
    cursor: pointer;
}
